@use "../../styles/variables.sass"

.AppBar

  .toolbar
    display: flex

    h2,
    .stage-header,
    .money-display
      color: #fff
      font-family: "Bitcount Prop Single Variable", monospace
      font-variation-settings: "ELSH" 50
      font-size: 1.2em

    .stage-header
      display: none
      margin-left: 1em

      @media (min-width: #{variables.$break-medium-phone})
        display: block

    .money-display
      position: absolute
      right: 1em

    .notification-indicator-container
      display: flex

      .error-indicator
        margin-left: 1em
