.AppBar

  .toolbar
    display: flex

    h2
      color: #fff
      font-family: "Francois One", monospace
      font-size: 1.2em

    .stage-header
      display: none
      margin-left: 1em

      @media (min-width: 400px)
        display: block

    .money-display
      position: absolute
      right: 1em
