@import ../../styles/variables.sass
@import ../../styles/utils.sass

.QuickSelect
  bottom: 8em
  left: 50%
  max-width: calc(100% - 1em)
  position: fixed
  transform: translateX(-50%)

  @media (min-width: #{$break-sm})
    &.MuiPaper-root // Specificity is needed for card-style overrides
      @include card-style
      bottom: auto
      left: auto
      max-height: calc(100vh - 20em)
      max-width: auto
      min-width: 4em
      overflow: auto
      right: 0.75em
      top: 9em
      transform: none
      width: 4em

  // This specificity is needed to overwrite MUI Paper transition styles.
  &.MuiPaper-root
    transition: max-width $duration-entering-screen $easing-ease-out

  .menu-open &
    max-width: calc(100% - 1em - #{2 * $sidebar-width})

  .button-array
    display: flex
    flex-flow: row

    @media (min-width: #{$break-sm})
      flex-flow: column

  @media (max-width: #{$break-medium-phone})
    bottom: 6em

  @media (max-width: #{$break-sm})
    .menu-open &
      display: none

  .MuiGrid-root
    border-radius: 0.25em
    overflow-x: scroll
    overflow-y: hidden
    padding: .5em
    position: relative

    @media (max-width: #{$break-sm})
      @include card-style

    @media (min-width: #{$break-sm})
      flex-direction: column

  .Toolbelt
    display: flex
    flex-flow: column
    justify-content: center

  .MuiButton-root
    padding: 0.5em
    min-width: 3.5em
    margin: 0 0.25em

  .MuiDivider-root
    margin: 0 0.5em

    @media (min-width: #{$break-sm})
      margin: 0 0 1em 0
      height: 1px
      width: 100%

  .MuiButton-containedPrimary
    background-color: #ffb913

    &:hover
      background-color: #e5a000

  .MuiButton-textPrimary
    &:hover
      background-color: #fff7e4

  .quantity
    background-color: rgba(0, 0, 0, 0.5)
    border-radius: 1em
    color: #fff
    font-size: 0.75em
    line-height: calc(0.75em - 1px)
    min-width: .5em
    padding: 0.5em
    position: absolute
    right: -2px
    top: -2px
