@import ../../styles/variables.sass

.QuickSelect
  position: fixed
  bottom: 8em
  left: 50%

  .button-array
    display: flex
    flex-flow: row

  @media (max-width: #{$break-narrow-phone})
    bottom: 6.5em

  .wrapper
    display: flex
    left: -50%
    max-width: 30em
    overflow: scroll
    position: relative

    @media (max-width: #{$break-md})
      max-width: 14em

    @media (max-width: #{$break-narrow-phone})
      max-width: 10em

  .Toolbelt
    display: flex
    flex-flow: column
    justify-content: center

  .MuiButton-root
    padding: 0.5em
    min-width: 3.5em
    margin: 0 0.25em
