@import ../../styles/variables.sass

.QuickSelect
  bottom: 8em
  left: 50%
  position: fixed

  .button-array
    display: flex
    flex-flow: row

  @media (max-width: #{$break-narrow-phone})
    bottom: 6.5em

  @media (max-width: #{$break-sm})
    left: 1.5em
    right: 5.25em

  .MuiGrid-root
    background: #ffe9a8
    border-radius: 0.25em
    border: solid 2px #5a3801
    left: -50%
    max-width: 34em
    overflow: scroll
    padding: .5em
    position: relative

    @media (max-width: #{$break-sm})
      left: 0
      max-width: 20em

    @media (max-width: #{$break-md})
      max-width: 28em

  .Toolbelt
    display: flex
    flex-flow: column
    justify-content: center

  .MuiButton-root
    padding: 0.5em
    min-width: 3.5em
    margin: 0 0.25em

  .MuiDivider-root
    margin: 0 0.5em

  .MuiDivider-vertical
    width: 2px

  .MuiButton-containedPrimary
    background-color: rgba(0, 0, 0, 0.2)

    &:hover
      background-color: rgba(0, 0, 0, 0.4)

  .MuiButton-outlinedPrimary
    border-color: #bbb

    &:hover
      border-color: #666
