@import ../../styles/variables.sass

.CowPen
  overflow: hidden

  &:hover
    cursor: pointer

  // This MUST be kept in sync with Cow.movementAnimationDuration in CowPen.js.
  $movement-animation-duration: 3000ms

  // This MUST be kept in sync with Cow.hugAnimationDuration in CowPen.js.
  $hug-animation-duration: 750ms

  .cow
    position: absolute
    transition: all $movement-animation-duration linear
    z-index: 20

    &::before
      background: rgba(128, 128, 128, 0.5)
      border-radius: 50%
      bottom: 5px
      content: ''
      height: 20px
      left: 0
      position: absolute
      width: 100px
      z-index: -20

    &.is-selected
      &::before
        background: rgba(128, 128, 128, 1)
        // This is slightly off center to account for the balance of the cow
        // image.
        left: -13px
        width: 120px

    img
      width: 100px

    .fa-heart
      color: $heart-color

      &.animation
        opacity: 0
        position: absolute
        right: 20px
        top: 10px
        transform: translateY(0px) scale(1)


        &.is-animating
          animation-name: hug-indicator
          animation-duration: $hug-animation-duration
          animation-fill-mode: forwards
          animation-timing-function: ease-out
          animation-iteration-count: 1

  .is-moving
    img
      animation-name: is-moving-keyframes
      animation-duration: 500ms
      animation-fill-mode: forwards
      animation-timing-function: linear
      animation-iteration-count: infinite

  .faceLeft
    transform: scaleX(-1)

  .faceRight
    transform: scaleX(1)


  .happiness-boosts-today
    bottom: -12px
    display: flex
    justify-content: space-evenly
    left: 10%
    position: absolute
    width: 80%
    z-index: -1

  @keyframes is-moving-keyframes
    0%,
    100%
      transform: translate(0px, 0px)

    20%,
    80%
      transform: translate(0px, -32px)

    40%,
    60%
      transform: translate(0px, -48px)

  @keyframes hug-indicator
    0%
      opacity: 0
      transform: translateY(0px) scale(1)

    50%
      opacity: 1
      transform: translateY(-80px) scale(2)

    100%
      opacity: 0
      transform: translateY(-80px) scale(2)
