@import ../../styles/variables.sass

.QuantityInput
  // Needed to override the .MuiCardActions-root to work well with the MUI card
  // action item spacing.
  .MuiCardActions-root &
    button
      margin-left: 1em

  .quantity
    line-height: 2.8em

  .MuiInput-root
    max-width: 75px
    margin: 1px 0.25em 0

    @media (max-width: #{$break-medium-phone})
      margin: 0 0.25em 0 0.5em
      max-width: 65px

    input
      text-align: right

  .number-nudger-container
    display: flex
    flex-direction: column
    position: absolute
    top: 0
    right: 0

    button
      margin: 0.25em

      svg
        // Needed to override
        // https://github.com/jeremyckahn/farmhand/blob/b357cbafa5b93ef0c56cbfc56042554bad0decca/src/components/Item/Item.sass#L11-L12
        margin-bottom: 0
