@import compass-mixins/lib/compass/css3/flexbox
@import ../../styles/variables.sass

.farmhand-wrapper
  +display-flex
  font-family: "Press Start 2P", monospace
  position: fixed

.sidebar
  background: $chrome-background
  width: $sidebar-width
