.fill
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

img
  &.square
    background-repeat: no-repeat
    background-size: cover
    display: block
    width: 100%

@mixin card-style
  background: $card-background
  border: solid 2px #b68000

@mixin center-tabs
  margin: 0 auto
  max-width: 600px

  .MuiTabs-flexContainer
    justify-content: center

@mixin sprite-shadow
  filter: drop-shadow(2px 2px 2px rgba(100, 100, 100, .4))
