$sidebar-width: 18em

$chrome-background: #75ceff
$item-background: #f7b459

$menu-transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms

// Breakpoints (from Material UI)
$break-xs: 0px
$break-sm: 600px
$break-md: 960px
$break-lg: 1280px
$break-xl: 1920px
