.Plot
  background-repeat: no-repeat
  background-size: cover
  border: solid 1px #000
  flex-grow: 1
  image-rendering: pixelated

  .is-plantable-item-selected &:hover
    background-color: #d7d7d7
    cursor: pointer

  .is-watering-can-selected &:hover
    background-color: #7df5ff
    cursor: pointer
