.Plot
  background-repeat: no-repeat
  background-size: cover
  border: solid 1px #000
  flex-grow: 1
  image-rendering: pixelated

  .plant-mode &:hover
    background-color: #d7d7d7
    cursor: pointer

  .water-mode &:hover
    background-color: #7df5ff
    cursor: pointer

  .fertilize-mode &.crop:not(.is-fertilized)
    background-color: rgba(125, 56, 0, .75)

    &:hover
      cursor: pointer

  .cleanup-mode &.ripe
    background-color: rgba(0, 255, 0, 0.25)

    &:hover
      cursor: pointer

  .harvest-mode &.crop
    background-color: rgba(255, 255, 0, 0.25)
    cursor: pointer

  .harvest-mode &.ripe
    background-color: rgba(255, 0, 0, 0.25)
    cursor: auto
