@import ../../styles/variables.sass

$non-interactive-color: #888

.Item
  border-radius: 1em

  img
    width: 3em

  button
    margin: 1em 0.25em 0.3em

  svg
    margin-bottom: -0.25em

  .MuiCardContent-root
    padding-top: 0

    p
      padding-top: 1em

      &.detail
        color: $non-interactive-color

  .MuiCardHeader-subheader
    user-select: none

  .MuiCardActions-root
    flex-wrap: wrap

  .quantity
    min-width: 0
    padding-left: 1em
    padding-right: 1em

    @media (max-width: #{$break-medium-phone})
      font-size: 0.75em
      margin-top: 1.25em

    .MuiButton-label
      text-overflow: ellipsis

  .MuiInput-root
    max-width: 75px
    margin: 0 0.25em

    @media (max-width: #{$break-small-phone})
      margin-left: 0.5em
      max-width: 50px

    input
      margin-top: 0.7em
      text-align: right
