@import ../../styles/variables.sass

// FIXME: The overall layout of Item needs to be improved for smaller screens.

.Item
  border-radius: 1em
  max-width: 800px

  img
    width: 3em

  button
    margin: .25em

  svg
    margin-bottom: -0.25em

  .MuiCardContent-root
    padding-top: 0

    p
      padding-top: 1em

      &.detail
        color: #888

  .MuiCardActions-root
    flex-wrap: wrap

  // The element.class specificity of this selector is necessary to override
  // MUI styles.
  button.max-out
    margin-left: auto
