@import ../../styles/variables.sass

.Navigation
  flex-direction: column
  flex-shrink: 0
  display: flex

  h1
    font-size: 3em
    font-weight: bold

  button
    font-size: 1.3em
    margin: 0.2em 0.4em
    min-width: 56px


  h1, h2, h3
    text-align: center

  .day-count
    font-size: 1.5em
    margin: .5em auto

  .inventory-info
    font-size: 1em
    margin: .25em auto

    &.is-inventory-full
      color: $error-color
