@import ../../styles/variables.sass

.Navigation
  flex-direction: column
  flex-shrink: 0
  display: flex

  .MuiSelect-select.MuiSelect-select
    padding: 1em

  h1
    font-size: 3em
    font-weight: bold
    text-align: center

  button
    font-size: 1.3em
    margin: 0 0.4em

  .MuiInput-root.view-select
    background: #fff
    margin: 1em 0

  .day-count
    font-size: 1.5em
    margin: .5em auto
    text-align: center
