@import ../../styles/variables.sass

$appBarOffset: 135px

.Field
  border: solid 1px #000
  margin: 0 auto

  @media (orientation: landscape) and (min-width: #{$break-md})
    &[data-purchased-field="0"]
      max-width: calc(100vh * (6/10) - #{$appBarOffset})

    &[data-purchased-field="1"]
      max-width: calc(100vh * (8/12) - #{$appBarOffset})

    &[data-purchased-field="2"]
      max-width: calc(100vh * (10/16) - #{$appBarOffset})

    &[data-purchased-field="3"]
      max-width: calc(100vh * (12/18) - #{$appBarOffset})

  .row
    display: flex

  .react-transform-component
    width: auto

  .react-transform-element
    display: block
    width: auto
