@import ../../styles/variables.sass

$appBarOffset: 135px

.Field
  margin: 0 auto

  .fit-to-screen-button
    display: none

  @media (orientation: landscape) and (min-width: #{$break-md})
    .fit-to-screen-button
      display: flex

    &[data-purchased-field="0"].fit-to-screen
      max-width: calc(100vh * (6/10) - #{$appBarOffset})

    &[data-purchased-field="1"].fit-to-screen
      max-width: calc(100vh * (8/12) - #{$appBarOffset})

    &[data-purchased-field="2"].fit-to-screen
      max-width: calc(100vh * (10/16) - #{$appBarOffset})

    &[data-purchased-field="3"].fit-to-screen
      max-width: calc(100vh * (12/18) - #{$appBarOffset})

  .spacer
    min-height: 5em

    @media (min-width: #{$break-sm})
      min-height: 6em

  .row
    display: flex

  .react-transform-component
    width: auto

  .react-transform-element
    border: solid 1px #000
    display: block
    height: auto
    width: auto

  .zoom-controls
    position: fixed
    display: flex
    flex-direction: column
    bottom: 0.5em
    right: 0.5em

    @media (max-width: #{$break-narrow-phone})
      bottom: 0.25em
      right: 0.25em

    button
      margin: 0.5em

