@import ../../styles/variables.sass

=heartListStyle()
  .hearts
    li
      display: inline
      margin: 0 .25em 0 0

.CowPenContextMenu
  display: flex
  flex-flow: column

  .fa
    font-size: 1em

  .card-list // This specificity is needed to override a global card style
    +heartListStyle()

  +heartListStyle()

  .hearts
    [data-prefix="fas"] // Full heart
      color: $heart-color

  .purchased-cows
    .MuiCardHeader-root
      padding-top: 0

    .MuiCardHeader-title
      align-items: baseline
      display: flex

      svg
        padding-left: 1em

  .sort-wrapper
    align-items: center
    display: flex
    justify-content: flex-end

    .MuiFab-root
      margin: 0 1em

    .sort-select
      flex-grow: 1
