@import ../../styles/variables.sass

.CowPenContextMenu
  display: flex
  flex-flow: column

  h3
    text-align: center

  .MuiTab-root
    min-width: unset

  .sort-wrapper
    align-items: center
    display: flex
    justify-content: flex-end

    .MuiFab-root
      margin: 0 1em

    .sort-select
      flex-grow: 1
