@import ../../styles/variables.sass

.Stage
  flex: 2
  margin-left: 0px
  min-width: 100px
  overflow: auto
  padding: 1.5em 1.5em 0
  position: relative
  transition: margin-left $duration-entering-screen $easing-ease-out

  .menu-button
    left: 100%
    opacity: 0.85
    position: fixed
    top: 50%
    transform: translateX(-50%)
    transition: left $duration-leaving-screen $easing-sharp
    z-index: 20

    svg
      transform: translateX(-10px)

    @media (min-width: #{$break-sm})
      display: none

  &.menu-closed
    margin-left: -$sidebar-width
    transition: margin-left $duration-leaving-screen $easing-sharp

    .menu-button
      left: 0%

      svg
        transform: translateX(10px)

    @media (max-width: #{$break-small-phone})
      margin-left: -$narrow-sidebar-width

  h2
    font-size: 1.2em

  .view-title
    font-size: 1.8em
    margin-bottom: 0.6em
    text-align: center

    @media (min-width: #{$break-medium-phone})
      display: none

  section
    padding: .5em 0

    @media (max-width: #{$break-sm})
      font-size: 1em
