@import ../../styles/variables.sass

.Stage
  flex: 2
  margin-left: 0px
  min-width: 100px
  overflow: auto
  padding: 1.5em 1.5em 6em
  position: relative
  transition: margin-left $duration-entering-screen $easing-ease-out
  -webkit-overflow-scrolling: touch;


  &.menu-closed
    margin-left: -$sidebar-width
    transition: margin-left $duration-leaving-screen $easing-sharp

  h2
    font-size: 1.2em

  .view-title
    font-size: 1.8em
    margin-bottom: 0.6em
    text-align: center

    @media (min-width: #{$break-narrow-phone})
      display: none

  section
    padding: .5em 0

    @media screen and (max-width: #{$break-sm})
      font-size: 1em
