@import ../../styles/variables.sass

.Stage
  flex: 2
  margin-left: 0px
  min-width: 300px
  max-width: 1200px
  overflow: auto
  transition: all $menu-transition

  &.menu-closed
    margin-left: -$sidebar-width

  h2
    font-size: 1.2em

  .toolbar
    display: flex

    h2
      color: #fff
      font-family: "Francois One", monospace

    .money-display
      position: absolute
      right: 1em
