@import ../../styles/variables.sass

.NotificationSystem
  strong
    font-weight: bold

  .wrapper
    max-width: $break-sm

  .notification
    align-items: stretch
    display: flex
    flex-direction: column-reverse
    top: 9em

    @media (min-width: #{$break-sm})
      top: 9.25em

    .MuiAlert-root
      margin-bottom: 1em

