@import ../../styles/variables.sass

.NotificationSystem
  strong
    font-weight: bold

  .wrapper
    max-width: $break-sm
    padding: 0 4.5em 0

  .notification
    align-items: stretch
    display: flex
    flex-direction: column-reverse
    top: 4.75em

    @media (min-width: #{$break-sm})
      top: 5em

    .MuiAlert-root
      margin-bottom: 1em

