@import styles/variables.sass

.App
  display: flex
  font-family: "Francois One", monospace
  position: fixed

  button
    border-radius: 0.4em
    font-family: inherit

  img
    image-rendering: pixelated

  .sidebar
    background: $chrome-background
    width: $sidebar-width
