@import styles/variables.sass

.Farmhand
  // padding-left and breakpoints correspond to AppBar dimensions
  // https://material-ui.com/demos/app-bar/
  display: flex
  font-family: "Francois One", monospace
  padding-top: 3.5em
  position: fixed

  @media (min-width: #{$break-xs}) and (orientation: landscape)
    padding-top: 3em

  @media (min-width: #{$break-sm})
    padding-top: 4em

  img
    image-rendering: pixelated

  .sidebar-wrapper
    display: flex
    -webkit-overflow-scrolling: touch;

  .sidebar
    background: $chrome-background
    overflow: auto
    padding: 1em
    position: relative
    width: $sidebar-width - 2em
    z-index: 20

  .end-day
    bottom: 1.5em
    position: absolute
    right: 1.5em

  ul

    &.card-list

      li
        margin: 1em 0em
