@import styles/variables.sass

.Farmhand
  // padding-left and breakpoints correspond to AppBar dimensions
  // https://material-ui.com/demos/app-bar/
  display: flex
  padding-top: 3.5em
  position: fixed

  // The Dialog root component also gets an explicit Farmhand class and needs
  // some styles tweaked just for it.
  &.MuiDialog-root
    display: block

  &,
  .MuiTypography-root
    font-family: "Francois One", sans-serif

  @media (min-width: #{$break-xs}) and (orientation: landscape)
    padding-top: 3em

  @media (min-width: #{$break-sm})
    padding-top: 4em

  img
    image-rendering: pixelated

  .sidebar-wrapper
    display: flex
    -webkit-overflow-scrolling: touch;

  .sidebar
    background: $chrome-background
    overflow: auto
    padding: 1em
    position: relative
    width: $sidebar-width - 2em
    z-index: 20

    .button-array
      display: flex
      justify-content: center
      margin: .5em 0

  .end-day
    bottom: 1.5em
    position: absolute
    right: 1.5em

  p
    font-family: "Public Sans", sans-serif

  ul

    &.card-list

      li
        margin: 1em 0em
