@import styles/variables.sass

.Farmhand
  // padding-left and breakpoints correspond to AppBar dimensions
  // https://material-ui.com/demos/app-bar/
  display: flex
  font-family: "Francois One", monospace
  padding-top: 3.5em
  position: fixed

  @media (min-width: #{$break-xs}) and (orientation: landscape)
    padding-top: 3em

  @media (min-width: #{$break-sm})
    padding-top: 4em

  img
    image-rendering: pixelated

  .sidebar-wrapper
    display: flex

  .sidebar
    background: $chrome-background
    padding: 1em
    position: relative
    width: $sidebar-width

  .end-day
    bottom: 1.5em
    position: absolute
    right: 1.5em

  .notifications-tr
    top: 4em !important

    @media screen and (max-width: #{$break-sm})
      top: 3.5em !important
