name: CI

on:
  push:
    branches:
      - '**'
      - '!main'

jobs:
  test_and_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      # https://stackoverflow.com/a/69634516
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm ci --no-optional --legacy-peer-deps
      - run: npm test -- --reporters=default --reporters=jest-junit
      - name: Test Report
        uses: dorny/test-reporter@v1
        with:
          name: Jest Tests # Name of the check run which will be created
          path: reports/jest-*.xml # Path to test results
          reporter: jest-junit # Format of test results

      - name: 'Build web app artifacts'
        run: |
          npm run build
          npm run doc

      - uses: actions/upload-artifact@v3
        with:
          name: build-output
          path: build
