name: Release New Version

# https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/
on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'Release type'
        required: true
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out develop
        uses: actions/checkout@v2.3.1
        with:
          fetch-depth: 0
          persist-credentials: true
          ref: develop

      - name: Setup Git user
        uses: fregante/setup-git-user@v1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 15
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci

      - name: Tag release
        run: npm version ${{ github.event.inputs.releaseType }}

      - name: Check out master
        uses: actions/checkout@v2.3.1
        with:
          clean: false
          fetch-depth: 0
          persist-credentials: false
          ref: master

      - name: Sync branches
        run: git merge -m "Merge ${{ github.event.inputs.releaseType }} commit" origin/develop

      # Push merge commit back to master and trigger downstream workflows
      # https://github.community/t/push-from-action-does-not-trigger-subsequent-action/16854/2
      - uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          tags: true

      - run: PUBLIC_URL='./' npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: node -e "console.log(require('./package.json').version)" > build/version.txt
      - name: Publish itch.io build
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.ITCH_TOKEN }}
          CHANNEL: html5
          ITCH_GAME: Farmhand
          ITCH_USER: jeremyckahn
          PACKAGE: build
          VERSION_FILE: build/version.txt

      - run: |
          npm run build
          npm run doc

      # https://github.com/marketplace/actions/deploy-to-github-pages
      - name: Deploy to jeremyckahn.github.io/farmhand
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build
          CLEAN: true
          SINGLE_COMMIT: true
