name: Release New Version

# https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/
on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'Release type'
        required: true
        default: 'patch'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out develop
        uses: actions/checkout@v3.2.0
        with:
          fetch-depth: 0
          persist-credentials: true
          ref: develop

      # https://stackoverflow.com/a/69634516
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf ssh://git@github.com/

      - name: Setup Git user
        uses: fregante/setup-git-user@v1

      - name: Setup Node
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci

      - name: Tag release
        run: npm version ${{ github.event.inputs.releaseType }}

        # Sets new package version as ${{ env.PACKAGE_VERSION }}
      - uses: nyaa8/package-version@v1

      - name: Check out main
        uses: actions/checkout@v3.2.0
        with:
          clean: false
          fetch-depth: 0
          persist-credentials: false
          ref: main

      - name: Sync branches
        run: git merge -m "Merge ${{ github.event.inputs.releaseType }} commit" origin/develop

      # Push merge commit back to main and trigger downstream workflows
      # https://github.community/t/push-from-action-does-not-trigger-subsequent-action/16854/2
      - uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          tags: true
          branch: main

      - run: PUBLIC_URL='./' npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Prepare Web Artifacts
        run: zip farmhand-web -r build/*

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.PACKAGE_VERSION }}
          release_name: ${{ env.PACKAGE_VERSION }}
          draft: false
          prerelease: false

      - name: Upload Release Web Asset
        id: upload_release_web_asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the Create Release step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./farmhand-web.zip
          asset_name: farmhand-web-${{ env.PACKAGE_VERSION }}.zip
          asset_content_type: application/zip

      - run: node -e "console.log(require('./package.json').version)" > build/version.txt
      - name: Publish itch.io build
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.ITCH_TOKEN }}
          CHANNEL: html5
          ITCH_GAME: Farmhand
          ITCH_USER: jeremyckahn
          PACKAGE: build
          VERSION_FILE: build/version.txt

      - run: |
          PUBLIC_URL='/farmhand' npm run build
          npm run doc

      # https://github.com/marketplace/actions/deploy-to-github-pages
      - name: Deploy to jeremyckahn.github.io/farmhand
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build
          CLEAN: true
          SINGLE_COMMIT: true

  publish_native_build:
    needs: release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3.2.0
        with:
          fetch-depth: 0
          persist-credentials: true
          ref: main
      # https://stackoverflow.com/a/69634516
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf ssh://git@github.com/
      - uses: actions/setup-node@v3.5.1
        with:
          node-version: 18
      - run: npm ci
      - name: 'Build and Release Electron App'
        env:
          GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: npm run build:native
